# IntelliJ
**/.idea/*
**/.bsp/
*.iml
# VSCode
**/.bloop/*
**/.metals/*
**/.vscode/*
**/project/metals.sbt
# sbt
**/target/*
**/project/target/*
# Project files
**/~$*.*
code/productsToNormalize.xlsx
/code/stocks/src/main/resources/com/andreidiego/mpfi/stocks/history/*